<%= content_for :title, 'Features' %>

<div class="container">
  <div class="row header">
    <div class="col-md-12">

      <h2>Features</h2>
      
      <p>A blurb explaining our features and a screenshot tour.</p>
    </div>
  </div>
</div>