<%= content_for :title, 'Pricing' %>

<div class="container">
  <div class="row header">
    <div class="col-md-12">
      
      <h2>Pricing</h2>
      
      <p>A blurb explaining our pricing with pricing table if applicable.</p>
    </div>
  </div>
</div>
