<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV["STRIPE_PUBLIC_KEY"] %>"
    data-amount="2000"
    data-name="<%= ENV["SITE_NAME"] %>"
    data-description="1 month subscription ($20.00)"
    data-image="/128x128.png">
  </script>
</form>
