<div class="container">
  <div class="row header">
    <div class="col-md-12">
      
      <h2>Dashboard</h2>
      <p>Welcome, <%= "#{current_user.full_name}!" %></p>
      <p>
        <strong>Current subscription:</strong>
        <%= "#{current_user.subscription.plan.name} (#{link_to 'Manage', subscriptions_path})".html_safe %>
      </p>
      
    </div>
  </div>
</div>
