#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
#home #pricing p {
  line-height: 2.3em;
}
#home #pricing em {
  color: #1FBEE7;
  font-weight: 400;
  font-style: normal;
}

#home #cta .form-wrapper,
#cta .form-wrapper {
  background: none repeat scroll 0 0 #EDF4F7;
}
input.form-control[type="text"]::-moz-placeholder, input.form-control[type="email"]::-moz-placeholder, input.form-control[type="password"]::-moz-placeholder {
  color: #333;
}
.form-control::-moz-placeholder {
  color: #333;
}

#footer .copyright a {
  color: #CCCCCC;
  transition: color 0.2s linear 0s;
}
#footer .copyright a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.trial {
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: normal;
  padding: 0 5px;
}
label.label-checkbox {
  font-weight: normal;
}